<div class="center-div">
  <div class="user-details">
    <h1 class="username">
      @<%= current_user.full_name %>
    </h1>
    <div class="follow-container">
      <span>Following: 0</span>
      <span>Followers: 0</span>
    </div>
  </div>
  <div class="post-form">
    <%= form_for @post, :url => url_for(:controller => 'posts', :action => 'create') do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', placeholder: "What's on your mind", :cols => 5, :rows => 5 %>
      </div>
      <div class='form-group'>
        <%= f.submit 'Post', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

<div class="posts-container">
  <h3>Your Posts</h3>
  <div class="posts-list">
    <% @posts.each do |post| %>
      <div class="post-card">
        <div class="author">
          <h6><%= post.user.full_name %></h6>
          <span class="displayname">@<%= post.user.first_name %><%= post.user.last_name %></span>
          <span class="time"><%= time_ago_in_words(post.created_at) %></span>
        </div>
        <div class="content">
          <span><%= post.content %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
