<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<%= link_to "SSN-RAILS", root_path, class: "navbar-brand" %>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav navbar-left">
			<li class="nav-item">
				<%= link_to 'Home', root_path, class: 'nav-link' %>
			</li>
			<% if user_signed_in? %>
				<li class="nav-item">
					<%= link_to 'Posts', posts_path, class: 'nav-link' %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="collapse navbar-collapse justify-content-end">
		<ul class="navbar-nav">
			<% if user_signed_in? %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle pull-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= current_user.full_name %>
						<span class="caret"></span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %>
						<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
					</div>
				</li>
			<% else %>
				<li class="nav-item">
					<%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
				</li>
			<% end %>
		</ul>
	</div>
</nav>
